body .container {
  padding: 0;
  width: 1120px; }

.header-side-menu a {
  padding: 5px !important;
  margin: 0; }

header {
  padding: 50px 0;
  margin: 0; }

header a {
  font-size: 13px; }

.navigation-up {
  padding: 0;
  margin: 0; }

.login-form {
  font-size: 12px; }

.social-media img {
  margin: 0 10px; }

.custom-form-control {
  border: 1px solid #e6e6e6;
  padding: 2px 0;
  margin: 5px auto;
  width: 170px;
  margin-right: 10px; }

.form-control-long {
  width: 250px; }

.custom-button-search {
  background: transparent;
  border: 0px solid black;
  border-left: 4px solid red; }

.custom-button-form {
  border: 0px solid black;
  background: transparent;
  font-weight: 900;
  text-transform: lowercase;
  letter-spacing: -0.5px; }

.register-link {
  color: #5a5a5a;
  font-weight: 900;
  margin-left: 10px; }

.auth-block {
  padding-top: 20px; }

.social-media {
  padding-top: 10px; }

.navigation-up {
  padding-top: 10px;
  font-weight: bolder; }

a {
  color: #222; }

.banner {
  width: 100%;
  height: 45px;
  background: #e9d33a; }

.footer-partners img {
  height: 50px;
  margin: 20px; }

.footer-partners-container {
  background: #f7f7f7; }

.footer-container {
  background: #7f7f7f; }

.logo-footer {
  margin: 40px 0; }

.footer-partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.footer p, .footer a {
  color: #fff;
  font-size: 12px; }

.footer-container {
  padding: 50px 0; }

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-header {
  font-size: 29px !important; }

.footer-header span {
  font-weight: bolder; }

.advert {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f7f7f7; }

.footer-slider .navigation {
  display: flex; }
  .footer-slider .navigation .navigation-left {
    transform: rotate(180deg);
    position: absolute;
    left: 20px;
    cursor: pointer; }
    .footer-slider .navigation .navigation-left img {
      width: 30px; }
      .footer-slider .navigation .navigation-left img:hover {
        width: 35px; }
  .footer-slider .navigation .navigation-right {
    position: absolute;
    right: 20px;
    cursor: pointer; }
    .footer-slider .navigation .navigation-right img {
      width: 30px; }
      .footer-slider .navigation .navigation-right img:hover {
        width: 35px; }

.footer-slider .slider-static-container {
  overflow: hidden;
  margin: 0 40px; }

.footer-slider .slider-content {
  transition: all 2s ease-in; }
  .footer-slider .slider-content img {
    width: 150px;
    margin: 0 3px; }
    .footer-slider .slider-content img:hover {
      opacity: 0.5; }

.promotion-text {
  position: relative;
  text-align: right;
  width: 200px;
  top: 240px;
  left: -100px;
  color: #d2d2d2;
  transform: rotate(-90deg); }

.promotion-text p {
  font-size: 40px; }

.advert-container {
  padding-right: 0;
  padding-left: 45px; }
  .advert-container .row .ad-pop {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: right; }

.side-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0; }

.side-article-info {
  line-height: 8px;
  font-size: 11px;
  font-weight: bolder;
  color: #aaa; }

.side-article-header {
  padding: 0 10px;
  font-size: 17px;
  font-weight: bolder; }

.side-article-img {
  margin-left: 10px; }
  .side-article-img .img-container {
    width: 140px;
    height: 100px;
    background: #ddd; }

.navigation-down {
  min-height: 45px; }
  .navigation-down .nav-slider-down {
    position: absolute;
    width: 32px;
    right: 100px; }
    .navigation-down .nav-slider-down img {
      transform: rotate(90deg); }
      .navigation-down .nav-slider-down img:hover {
        opacity: 0.8;
        width: 36px;
        cursor: pointer; }

.navigation-up {
  min-height: 45px; }
  .navigation-up .nav-slider-up {
    width: 32px;
    position: absolute;
    right: 100px; }
    .navigation-up .nav-slider-up img {
      transform: rotate(-90deg); }
      .navigation-up .nav-slider-up img:hover {
        opacity: 0.8;
        width: 36px;
        cursor: pointer; }

.dynamic-new-article-slider {
  position: relative;
  min-height: 600px; }
  .dynamic-new-article-slider .slider-container {
    margin-top: 45px;
    max-height: 600px;
    overflow: hidden; }
    .dynamic-new-article-slider .slider-container .slider-dynamic-content {
      height: 370px;
      overflow: hidden; }
      .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-img {
        position: relative; }
        .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-img img {
          height: 370px;
          width: 530px; }
        .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-img .slider-dynamic-text {
          position: absolute;
          bottom: 0;
          background: #fff;
          font-size: 30px; }
      .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-imgs {
        transition: all 1s ease-in; }
        .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-imgs .thumbnail-img {
          width: 200px;
          opacity: 0.5;
          cursor: pointer; }
        .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-imgs .active {
          opacity: 1 !important; }
        .dynamic-new-article-slider .slider-container .slider-dynamic-content .slider-show-imgs img {
          width: 155px;
          height: 115px;
          margin-bottom: 10px; }

.article-mini-info {
  position: absolute;
  width: 110px;
  display: flex;
  top: 20px;
  left: -100px;
  flex-direction: row;
  font-weight: bolder;
  justify-content: center;
  align-items: center; }

.normal-article {
  margin-top: 40px; }

.info {
  margin: 0;
  padding: 0;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right; }

.date, .author, .type {
  font-size: 11px;
  line-height: 10px; }

.date, .author {
  font-weight: bolder; }

.type {
  color: #aaaaaa;
  margin-top: 20px; }

.image-container {
  position: relative; }

.image-info {
  position: absolute;
  right: -12px;
  bottom: 2px;
  width: 160px;
  height: 120px;
  background: rgba(100, 100, 100, 0.5); }

.article-text {
  padding: 0; }

.article-content {
  margin: 40px 0; }

.photogalery-article .photogalery-dynamic-content .photogalery-show-img {
  padding: 0;
  width: 100%; }
  .photogalery-article .photogalery-dynamic-content .photogalery-show-img .photogalery-dynamic-text {
    position: absolute;
    z-index: 20;
    width: 150px;
    height: 150px;
    bottom: 0;
    right: 0px;
    background: rgba(100, 100, 100, 0.8); }

.photogalery-article .photogalery-dynamic-content .photogalery-show-navigation {
  padding: 0; }
  .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .navigation-left {
    position: absolute;
    transform: rotate(180deg);
    left: -30px;
    top: 10px;
    cursor: pointer; }
  .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .navigation-right {
    position: absolute;
    top: 10px;
    cursor: pointer;
    left: 510px; }
  .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .photogalery-show-imgs {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    width: 510px;
    overflow: hidden; }
    .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .photogalery-show-imgs .thumbnail-img {
      width: 170px;
      opacity: 0.5;
      cursor: pointer; }
    .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .photogalery-show-imgs .active {
      opacity: 1 !important; }
    .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .photogalery-show-imgs img {
      width: 160px;
      height: 155px;
      margin-right: 10px; }
  .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .article-menu {
    margin-top: 50px; }
  .photogalery-article .photogalery-dynamic-content .photogalery-show-navigation .photogalery-show-imgs-container {
    display: flex;
    flex-direction: row;
    transition: 1s all ease-in; }

.btn-normal-menu-article {
  border: 0px solid white;
  margin: 5px 0;
  background: #eeeeee;
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px; }

.btn-darker-menu-article {
  background: #777 !important; }

.btn-custom-menu-article {
  width: 180px;
  height: 40px;
  background: #fff;
  border: 0px solid #fff;
  position: relative; }

.btn-custom-menu-article span {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 12px;
  color: #aaa;
  font-weight: bolder; }

.btn-custom-menu-article img {
  position: absolute;
  top: 0;
  left: 0; }

.normal-article, .photogalery-article, .dynamic-new-article-slider {
  margin-bottom: 20px; }

.title {
  padding: 0; }

.article-detail-buttons {
  padding-right: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row; }

.btn-medium-menu-article {
  border: 0px solid white;
  margin: 5px 0;
  background: #eeeeee;
  width: 164px;
  color: #999;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px; }

.simple-article .article-detail-buttons {
  margin-bottom: 25px;
  text-align: right; }

.simple-article .title h2 {
  margin: 0; }

.simple-article .info {
  height: 40px; }

.article-gallery .gallery-container .main-photo {
  position: relative; }
  .article-gallery .gallery-container .main-photo .image-info {
    bottom: 50px !important; }

.article-gallery .gallery-container .photos-container {
  margin-top: 20px;
  margin-bottom: 20px; }
  .article-gallery .gallery-container .photos-container .col-md-9 {
    padding: 0; }
  .article-gallery .gallery-container .photos-container .col-md-1 {
    padding: 0; }
  .article-gallery .gallery-container .photos-container .col-md-2 {
    padding: 0; }
  .article-gallery .gallery-container .photos-container .img-container-smaller {
    margin-left: 10px !important;
    width: 90% !important; }
  .article-gallery .gallery-container .photos-container .img-container, .article-gallery .gallery-container .photos-container .img-container-smaller {
    width: 100%;
    height: 80px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #777;
    font-weight: bolder; }
  .article-gallery .gallery-container .photos-container .img-container-tran {
    background: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #777;
    font-weight: bolder; }

.company-info-container {
  width: 100%;
  height: 300px;
  background: #ddd;
  margin-bottom: 20px; }

.full-article-content p {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0;
  margin-bottom: 20px; }
